@{
    ViewData["Title"] = "Perene Goals";
}

<main class="base-container">
    <div class="hero">
        <img class="hero__logo" src="~/public/logo/perene-goals.png" />
    </div>

    <div>
        @await Component.InvokeAsync("BaseHero", new { Quote = "A goal without a plan is just a wish", Author = "Antoine de Saint-Exupéry"})
    </div>
</main>

@await Component.InvokeAsync("BottomNavbar", new {controller = "GoalsList", action = "Create", icon="plus"})})

