@{
    ViewData["Title"] = "Perene Goals";
}
    @model Tuple<string, string>

<main class="base-container">
    <div class="hero">
        <img class="hero__logo" src="~/public/logo/perene-goals.png" />
    </div>

    <div>
        @await Html.PartialAsync("Components/_BaseHero", Model)
    </div>
</main>
