@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perene Goals</title>
    <link rel="icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/site_sass.css" />
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="top-navbar">
                <div class="circle circle__left">
        @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">
                        <div class="svg-icon circle__left--icon"></div>
                    </a>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <div class="svg-icon circle__left--icon"></div>
                    </a>
                }
                </div>
                <div class="circle circle__right">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <div class="svg-icon circle__right--icon"></div>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer >
        <div class="bottom-navbar">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <div class="bottom-navbar__button">
                    <div class="bottom-navbar__button--icon bottom-navbar__button--icon--home">   </div>
                </div>
            </a>
        </div>
    </footer>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
