@model perene_goals_dotnet.Views.Shared.Components.BaseHeroModel  

<div class="banner">
    <img class="banner__image" src="~/public/banners/banner.png" alt="Banner Image">
    <div class="banner__overlay">
        <div class="banner__overlay--text">
            <h2 class="banner__overlay--text-quote"> 
                “<span id="quoteText">@Model.Quote</span>”
             </h2>
            <div class="banner__divider"></div>
            <h4 class="banner__overlay--text-author"> 
                <span id="quoteAuthor">@Model.Author</span>
            </h4>
        </div>
    </div>
</div>

<script>
    var quotes = [
        { quote: "We can only see a little bit of the future, but enough to know there is much to do", author: "Alan Mathison Turing" },
        { quote: "Setting goals is the first step in turning the invisible into the visible", author: "Tony Robbins" },
        { quote: "Goals are like magnets. They attract the things that you need and help determine what you want to become", author: "Zig Ziglar" },
        { quote: "Dreams can become a reality when we possess the courage to pursue them", author: "Walt Disney" },
        { quote: "Success is the sum of small efforts repeated day in and day out", author: "Robert Collier" },
        { quote: "Set a goal that makes you want to jump out of bed in the morning", author: "Unknown" },
        { quote: "The only limit to your dreams is your imagination and determination", author: "Unknown" },
        { quote: "If you can dream it, you can achieve it", author: "Zig Ziglar" },
        { quote: "A goal without a plan is just a wish", author: "Antoine de Saint-Exupéry" },
        { quote: "If you want something you've never had, you must be willing to do something you've never done", author: "Unknown" },
        { quote: "Great achievements are possible when we give importance to small beginnings", author: "Lao Tzu" },
        { quote: "Don't wait for opportunity. Create it", author: "Unknown" },
        { quote: "The future belongs to those who believe in the beauty of their dreams", author: "Eleanor Roosevelt" },
        { quote: "The only way to achieve the impossible is to believe it is possible", author: "Charles Kingsleigh" },
        { quote: "Don't let the fear of falling stop you from flying", author: "Unknown" }
    ];

    function updateQuote() {
        var randomIndex = Math.floor(Math.random() * quotes.length);
        var randomQuote = quotes[randomIndex];
        document.querySelector('.banner__overlay--text-quote').innerText = `“${randomQuote.quote}”`;
        document.querySelector('.banner__overlay--text-author').innerText = randomQuote.author;
    }

    setInterval(updateQuote, 5000);
</script>

