@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = parentLayout as string ?? "/Areas/Identity/Pages/_Layout.cshtml";
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="base-container">
    <div class="display-col">
        <div>
            <partial name="_ManageNav" />
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
