@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.Contains("error") || Model.Contains("invalid") ? "error show" : "success show";
    <div role="alert" class="message message__@statusMessageClass">
        <div class="message__content">
            <div class="message__content--context">
                @Model
            </div> 
            <button type="button" class="message__content--action" aria-label="Close" onclick="hideAlert(this)"></button> 
        </div>
    </div>
}

<script> 
function hideAlert(button) {
  var alert = button.parentNode.parentNode;
  alert.classList.add('hide');
    setTimeout(function() {
     alert.style.display = "none";
  }, 1010); 
}
</script>