@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    ViewData["InfoTitle"] = "Deleting this data will permanently remove your account, and this cannot be recovered.";
}

<h3 class="base-title">@ViewData["Title"]</h3>

@await Component.InvokeAsync("BaseInfo", new {title = @ViewData["InfoTitle"]})

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="input-error"></div>
        @if (Model.RequirePassword)
        {
            <div class="input-container">
                <input asp-for="Input.Password" class="input-text" autocomplete="current-password" placeholder="Please insert you current password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="input-error"></span>
            </div>
        }
        <button  type="submit" class="base-button base-button__light">
            <div class="base-button__content"> 
                <label> Delete data and close my account </label>
                <div class="base-button__icon base-button__icon--next"> </div>
            </div>
        </button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
