@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3 class="base-title">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="email-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.IsEmailConfirmed)
    {
        <div class="input-container display-col">
            <input asp-for="Email" class="input-text" disabled />
            <label asp-for="Email" class="base-title display-row">✓ Email Confirmed</label>
        </div>
    }
    else
    {
        
        <div class="input-container">
            <input asp-for="Email" class="input-text" disabled />
        </div>
        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="base-button base-button__light">
            <div class="base-button__content"> 
                <label> Send verification email </label>
                <div class="base-button__icon base-button__icon--next"> </div>
            </div>
        </button>
    }

    <h3 class="base-title"> Change Email </h3>
    <div class="input-container">
        <input asp-for="Input.NewEmail" class="input-text" placeholder="New Email" aria-required="true" />
    </div>
    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="base-button base-button__light">
        <div class="base-button__content"> 
            <label> Save Change </label>
            <div class="base-button__icon base-button__icon--next"> </div>
        </div>
    </button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
