@page
@model IndexModel
@{
    ViewData["Title"] = "Manage Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" for="StatusMessage" />


<h3 class="base-title"> @ViewData["Title"] </h3>
<form id="profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="input-container">
        <input asp-for="Input.Username" class="input-text"/>
    </div>
    <div class="input-container">
        <input asp-for="Input.PhoneNumber" class="input-text" />
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <button id="update-profile-button" type="submit" class="base-button base-button__light">
        <div class="base-button__content"> 
            <label> Save Change </label>
            <div class="base-button__icon base-button__icon--next"> </div>
        </div>
    </button>
</form>
 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
