@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Recovery codes";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<h3 class="base-title">@ViewData["Title"]</h3>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="info" role="region">
    <div class="info__icon"></div>
    <div class="info__content info__content--center">
        <p>
            <strong>Put these codes in a safe place.</strong>
        </p>
        <p>
            If you lose your device and don't have the recovery codes you will lose access to your account.
        </p>
    </div>
</div>

<div class="display-row" style="justify-content: center;">
    <div class="code">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code>@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
