@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Manager Authentication App";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<h3 class="base-title">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="tabs__container display-col">
    @{
        var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
        @if (consentFeature?.CanTrack ?? true)
        {
            @if (Model.Is2faEnabled)
            {
                if (Model.RecoveryCodesLeft == 0)
                {
                    <div class="alert alert-danger">
                        <strong>You have no recovery codes left.</strong>
                        <p>You must <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a> before you can log in with a recovery code.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft == 1)
                {
                    <div class="alert alert-danger">
                        <strong>You have 1 recovery code left.</strong>
                        <p>You can <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }
                else if (Model.RecoveryCodesLeft <= 3)
                {
                    <div class="alert alert-warning">
                        <strong>You have @Model.RecoveryCodesLeft recovery codes left.</strong>
                        <p>You should <a asp-page="./GenerateRecoveryCodes">generate a new set of recovery codes</a>.</p>
                    </div>
                }

                if (Model.IsMachineRemembered)
                {
                    <form method="post" style="display: inline-block">
                        <button type="submit" class="tabs__item tabs__item--link" style="border: none; cursor: pointer">Forget this browser</button>
                    </form>
                }
                <a asp-page="./Disable2fa" class="tabs__item tabs__item--link">Disable 2FA</a>
                <a asp-page="./GenerateRecoveryCodes" class="tabs__item tabs__item--link">Reset recovery codes</a>
            }
            @if (!Model.HasAuthenticator)
            {
                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="tabs__item tabs__item--link">Add authenticator app</a>
            }
            else
            {
                <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="tabs__item tabs__item--link">Set up new authenticator app</a>
                <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="tabs__item tabs__item--link">Reset authenticator app</a>
            }
        }
        else
        {
            <div class="alert alert-danger">
                <strong>Privacy and cookie policy have not been accepted.</strong>
                <p>You must accept the policy before you can enable two factor authentication.</p>
            </div>
        }
    }
</div> 

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
