@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="base-container">
  <div class="card">
    <div  class="card__title">
     <h3 class="title"> @ViewData["Title"]</h3>
    </div>
    <div class="card__content">
        <section>
            <p style="text-align: center; matgin-top: 10px;">
                Please check your email to reset your password.
            </p>
        </section>
    </div>
  </div>
</div>

