@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="base-container">
  <div class="card">
    <div  class="card__title">
     <h3 class="title"> @ViewData["Title"]</h3>
    </div>
    <div class="card__content">
        <section>
            <form  method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-container">
                    <input asp-for="Input.Email" class="input-text" autocomplete="username" placeholder="Email" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="input-text_error"></span>
                </div>
                <button type="submit" class="base-button base-button__light">
                    <div class="base-button__content"> 
                        <label> Reset Password </label>
                        <div class="base-button__icon base-button__icon--login"> </div>
                    </div>
                </button>
            </form>
        </section>
    </div>
  </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
