@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="input-error">@ViewData["Title"]</h1>
    <p class="input-error">This account has been locked out, please try again later.</p>
</header>
