@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<div class="base-container">
  <div class="card">
    <div  class="card__title">
     <h3 class="title"> @ViewData["Title"]</h3>
    </div>
    <div class="card__content">
              <section>
              <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>

            <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                <input asp-for="RememberMe" type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-container">
                    <input asp-for="Input.TwoFactorCode" class="input-text" autocomplete="off" />
                    <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                </div>
                <div>
                    <div class="input-container">
                        <label asp-for="Input.RememberMachine">
                            <input asp-for="Input.RememberMachine" />
                            @Html.DisplayNameFor(m => m.Input.RememberMachine)
                        </label>
                    </div>
                    </div>
                        <button type="submit" class="base-button base-button__light">
                            <div class="base-button__content"> 
                                <label> sign in </label>
                                <div class="base-button__icon base-button__icon--next"> </div>
                            </div>
                        </button>
                    <div>
                </div>
            </form>
            <div class="card__footer">
                <p>
                    Don't have access to your authenticator device? You can
                    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
                </p>
            </div>
        </section>
    </div>
  </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}